.background {
  background-color: #ebe9d7;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 97vh;
  height: 100%;
}

.button {
  width: 100% !important;
}

.logo {
  width: 20rem;
}